<?xml version="1.0" encoding="iso-8859-1"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Conexion_DB_Intranet" connectionString="Data Source=SPOOL2\sqlexpress;Initial Catalog=db_intranet;User=web_cal;Password=web_calpwd" providerName="System.Data.SqlClient"/>
    <!--<add name="Conexion_DB_Intranet" connectionString="Data Source=mant-wcontreras\sqlexpress;Initial Catalog=db_intranet;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <identity impersonate="true"/>
    <authentication mode="Windows"/>
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-CL" uiCulture="es-CL"/>
    <!--<authorization>
        <deny users=""/>        
      </authorization>-->
    <!--<customErrors mode="Off" />-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>    
  </system.webServer>
</configuration>